* {
  font-family: 'Roboto';font-size: 14px;
}

body {
  background-color: #39365e;
}

h5.modal-title, h5.latest-released {
  font-weight: bold;
}

/* start => carousel */
.carousel-control-prev, .carousel-control-next {
  border: 0;
  background-color: rgba(0, 0, 0, 0.788);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.41);
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel-fade .carousel-inner .item {
  opacity: 50;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
  transition-duration: 0.5s;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
  transition-duration: 0.5s;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  transition-duration: 0.5s;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* end => carousel */

/* start =>browse drop-drown */ 
button.dropbtn.nav-link {
  float: left;
  overflow: hidden;
}

li.dropdown button.dropbtn.nav-link {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

li.dropdown:hover button.dropbtn.nav-link {
  background-color: rgba(0,0,0,0.2);
}

div.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  /* width: 100%; */
  /* left: 0; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li.dropdown:hover div.dropdown-content {
  display: block;
}

li.dropdown .dropdown-content .header {
  background: rgba(0,0,0,0.2);
  padding: 16px;
  color: white;
  height: 50vh;
  width: 50vw;
}
/* end =>browse drop-drown */